# Folder
/build

# Executable file
*.dol
*.elf

# Archive
*.zip

# Programmer's Notepad state file
*.pnps

# Windows thumbnail cache
Thumbs.db

# Visual Studio Code
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/tasks.json
